.home .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.home .search div {
  flex: 1;
}
.home .search .search_btn {
  flex: 3;
}
.home .top .van-swipe .van-swipe-item .img {
  width: 100%;
}
.home .top .van-swipe ::v-deep .van-swipe__indicator {
  background-color: rgba(0, 0, 0, 0.7);
}
.home .top .channel {
  background-color: #fff;
}
.home .top .channel .channelList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.home .top .channel .channelList .channelItem {
  text-align: center;
}
.home .top .channel .channelList .channelItem img {
  width: 30px;
  height: 30px;
  flex: 1;
}
.home .brand {
  background-color: #fff;
  padding-top: 20px;
  margin-top: 4px;
}
.home .brand .brand_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home .brand .brand_list .brand_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 4px;
  margin-bottom: 4px;
  width: 180px;
  height: 115px;
}
.home .brand .brand_list .brand_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home .brand .brand_list .brand_item .brand_text {
  z-index: 2;
}
.home .new_product {
  width: 100%;
  height: 370px;
  margin-bottom: 10px;
}
.home .new_product .new_product_top {
  height: 135px;
  text-align: center;
  background-color: #f1f7fd;
}
.home .new_product .new_product_top p {
  font-size: 20px;
}
.home .new_product .new_product_top .van-button {
  background-color: #d8e4f0;
}
.home .new_product .new_product_bottom {
  height: 230px;
}
.home .new_product .new_product_bottom .new_product_list {
  display: flex;
  padding: 10px;
  height: 100%;
  flex-wrap: nowrap;
  overflow: scroll;
}
.home .new_product .new_product_bottom .new_product_list .new_product_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 165px;
  height: 200px;
  flex-shrink: 0;
  background-color: #fff;
}
.home .new_product .new_product_bottom .new_product_list .new_product_item .img {
  width: 80px;
  height: 80px;
}
.home .new_product .new_product_bottom .new_product_list .new_product_item .new_product_describe {
  width: 100px;
}
.home .new_product .new_product_bottom .new_product_list .new_product_item .new_product_describe h4 {
  font-size: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  /*超出的部分隐藏起来。*/
  white-space: nowrap;
  /*不显示的地方用省略号...代替*/
  text-overflow: ellipsis;
  /* 支持 IE */
}
.home .new_product .new_product_bottom .new_product_list .new_product_item .new_product_describe p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #8a8a8a;
  font-size: 14px;
}
.home .new_product .new_product_bottom .new_product_list .new_product_item .new_product_describe p:last-child {
  text-align: left;
  color: #9c3232;
}
.home .chosen {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background-color: #fff;
}
.home .chosen .chosen_top {
  margin-bottom: 25px;
}
.home .chosen .chosen_top span {
  font-weight: 700;
}
.home .chosen .chosen_top .van-icon {
  margin-left: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}
.home .chosen .chosen_bottom {
  overflow: scroll;
}
.home .chosen .chosen_bottom .chosen_bottom_list {
  display: flex;
  width: 100%;
  height: 250px;
  padding-left: 10px;
}
.home .chosen .chosen_bottom .chosen_bottom_list .chosen_bottom_item {
  flex-shrink: 0;
  margin-right: 15px;
  width: 255px;
  height: 100%;
  text-align: left;
}
.home .chosen .chosen_bottom .chosen_bottom_list .chosen_bottom_item img {
  width: 100%;
  height: 160px;
}
.home .chosen .chosen_bottom .chosen_bottom_list .chosen_bottom_item h4 {
  font-size: 16px;
}
.home .chosen .chosen_bottom .chosen_bottom_list .chosen_bottom_item p {
  color: #8a8a8a;
  font-size: 12px;
  overflow: hidden;
  /*超出的部分隐藏起来。*/
  white-space: nowrap;
  /*不显示的地方用省略号...代替*/
  text-overflow: ellipsis;
  /* 支持 IE */
}
.home .goods {
  width: 100%;
  min-height: 200px;
}
.home .goods .goods_top {
  height: 50px;
  line-height: 50px;
}
.home .goods .goods_bottom .goods_bottom_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home .goods .goods_bottom .goods_bottom_list .goods_bottom_item {
  width: 49%;
}
.home .goods .goods_bottom .goods_bottom_list .goods_bottom_item img {
  width: 130px;
  height: 130px;
}
.home .goods .goods_bottom .goods_bottom_list .goods_bottom_item .goods_bottom_text {
  text-align: center;
}
.home .goods .goods_bottom .goods_bottom_list .goods_bottom_btn {
  margin-right: 70px;
}
